:root {
  --ff-heading: "Staatliches", cursive;
  --ff-body: "Palanquin", sans-serif;
  --ff-heading-desktop: 'Roboto', sans-serif;
  --ff-body-desktop: 'Open Sans', sans-serif;

  --gray-800: #8e9aaf;
  --gray-300: #cbc0d3;
  --gray-100: #eff1ff;
  --pink: #feeafa;
  --white: #ffffff;
  --fc-gray: #4a4e69;

  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-100);
}

header {
  background: var(--gray-800);
  padding: 3.2rem 0 2.9rem;
  text-align: center;
}

header img {
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  animation: rotation 2000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

header h1 {
  font-family: var(--ff-heading);
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: var(--white);
  background: var(--gray-300);
  padding: 0.8rem;
  margin-top: 3.2rem;
  width: 100%;
}

.page {
  margin: 0 auto;
  padding: 1.4rem 0;
}

header p {
  display: none;
}

main p {
  font-family: var(--ff-body);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 6.3rem;
  text-align: center;
}

.card {
  position: relative;
  margin: 0 auto 3.2rem;
  border-radius: 2rem;
  width: fit-content;
  max-width: 100%;
  animation: topdown 700ms ease forwards;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: var(--pink);
  padding: 0 2.4rem;
  border-radius: 2rem;
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-gray);
  animation: downtop 700ms ease;
}

footer {
  visibility: hidden;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(0)
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-40px)
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  0%{
    transform: rotate(360deg);
  }
}

@media (min-width: 1280px) {
  body {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas:
    "A B"
    "A C";
    justify-content: start;
    align-items: center;
    background: var(--white);
  }

  .page main{
    grid-area: B;
    width: 102.4rem;
    margin-top: 6.4rem;
    margin-left: 2.0rem;
  } 

  header {
    width: 37.7rem;
    height: 100vh;
    grid-area: A;
  }

  header h1 {
    padding: 2.1rem;
    font-size: 4.8rem;
  }

  header p {
    display: inline-block;
    font-family: var(--ff-heading-desktop);
    font-size: 2rem;
    line-height: 2.0rem;
    color: var(--white);
    margin: 3.2rem 5.4rem;
    text-align: center;
  }

  main p {
    display: none;
  }

  .page main{
    display: grid;
    grid-template-areas: 
    "A B E"
    "D B F"
    "D C F";
    gap: 3.2rem;
  }

  body > div > main > div:nth-child(2){
    grid-area: A;
    
  }

  body > div > main > div:nth-child(3){
    grid-area: B;
   
  }

  body > div > main > div:nth-child(4){
    grid-area: C;
  }

  body > div > main > div:nth-child(5){
    grid-area: D;

  }

  body > div > main > div:nth-child(6){
    grid-area: E;
  }

  body > div > main > div:nth-child(7){
    grid-area: F;
  }

  .card {
    margin: 0 auto;
  }

  .card h2 {
    opacity: 0;
    animation: none;
  }

  .card:hover h2 {
    animation: appear 700ms;
  }

  footer {
    text-align: center;
    visibility: visible;
    margin: 0 auto;
    font-family: var(--ff-body-desktop);
    font-size: 1.4rem;
    grid-area: C;
  }

  footer a {
    color: var(--fc-gray);
    text-decoration: none;
    font-weight: 700;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
